body {
    background-color: #f0f0f0;
}

.spinner-grow {
    margin: 200px 0px;
}

/* Main Destacados */
#destacados {
    text-align: center;
}

#titulo-destacados {
    margin: 40px 0;
    text-align: center;
}

#productos-destacados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Div Productos */
.card {
    margin-bottom: 20px;
    transition: transform .3s ease, box-shadow .3s ease;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

/* Mensaje de Error */
#error-msj{
    margin: 200px auto;
    font-weight: bold;
}